# Binaries
bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go
go.sum
vendor/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# VMP specific artifacts
cmd/vmpacker/vm_interp.bin
vmp-gui/backend/api/vm_interp.bin
vmp-gui/frontend/dist/
vmp-gui/build/
*.debug.txt
*.unsupported.txt
*.vmp
cmd/vmpacker/vm_interp.bin
cmd/vmpacker/vm_interp.bin
